#header {
    color: white;
    text-align: center;
    font-family: "Goldman", cursive;
}

.aside {
    background-color: gray;
    border-style: solid;
    border-color: blue;
    border-radius: 25px;
}

.section {
    border-style: solid;
    border-color: blue;
    border-radius: 25px;
}

.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
 
